#leftpanel{
    position: absolute; top: 20px; left: 35px; width: 150pt; height: 340pt; float: left; background: transparent;
  }

html, body {width:100%; height:100%; padding: 0; margin: 0;}

#map { width: 100%; height:100%; background: white;}

#exports { position: absolute; bottom: 20px; right: 20px; height: 120px; text-align: right;}   
